@model IncomesAndOutcomes_API.Models.Income

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Amount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Amount)
    @Html.ValidationMessageFor(model => model.Amount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Date)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Date)
    @Html.ValidationMessageFor(model => model.Date)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Memo)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Memo)
    @Html.ValidationMessageFor(model => model.Memo)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IsDeleted)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsDeleted)
    @Html.ValidationMessageFor(model => model.IsDeleted)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AvailableNextMonth)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AvailableNextMonth)
    @Html.ValidationMessageFor(model => model.AvailableNextMonth)
</div>

<div class="editor-label">
    AccountBalance
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.AccountBalanceId, ((IEnumerable<IncomesAndOutcomes_API.Models.AccountBalance>)ViewBag.PossibleAccountBalances).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.AccountBalanceId.ToString(),
        Selected = (Model != null) && (option.AccountBalanceId == Model.AccountBalanceId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.AccountBalanceId)
</div>
<div class="editor-label">
    MonthBuffer
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.MonthBufferId, ((IEnumerable<IncomesAndOutcomes_API.Models.MonthBuffer>)ViewBag.PossibleMonthBuffers).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.MonthBufferId.ToString(),
        Selected = (Model != null) && (option.MonthBufferId == Model.MonthBufferId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.MonthBufferId)
</div>
