@model IncomesAndOutcomes_API.Models.UserSession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserSession</legend>

    <div class="display-label">User</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.User).ToString()</div>

    <div class="display-label">OpenSessionTime</div>
    <div class="display-field">@String.Format("{0:g}", Model.OpenSessionTime)</div>

    <div class="display-label">EndSessionTime</div>
    <div class="display-field">@String.Format("{0:g}", Model.EndSessionTime)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


