@model IncomesAndOutcomes_API.Models.AccountBalance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AccountBalance</legend>

    <div class="display-label">Balance</div>
    <div class="display-field">@Model.Balance</div>

    <div class="display-label">Date</div>
    <div class="display-field">@String.Format("{0:g}", Model.Date)</div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">@Model.IsDeleted</div>

    <div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>

    <div class="display-label">Account</div>
    <div class="display-field">@(Model.Account == null ? "None" : Model.Account.Name)</div>

    <div class="display-label">Incomes</div>
    <div class="display-field">@(Model.Incomes == null ? "None" : Model.Incomes.Count.ToString())</div>

    <div class="display-label">Outcomes</div>
    <div class="display-field">@(Model.Outcomes == null ? "None" : Model.Outcomes.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


